/* Nav bar */
.vertical-nav {
  min-width: 5cm;
  width: 5cm;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}

/* Current page */
.page-content {
  width: calc(100% - 5cm);
  margin-left: 5cm;
  transition: all 0.4s;
}

/* divs (used as buttons) in table cells, containing icons */
.table-btn {
  display: inline-block;
}

.table-btn:hover {
  transform: scale(1.5);
  cursor: pointer;
}

/* 
  For nav bar toggle behavior 
*/

#sidebar.active {
  margin-left: -5cm;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -5cm;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 5cm;
    width: calc(100% - 5cm);
  }
}
  