/* npm package imports */
@import "./abstracts/variables";
@import "~bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.css";
@import "../../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

/* Nav bar */
.vertical-nav {
  min-width: 5cm;
  width: 5cm;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}

/* Current page */
.page-content {
  width: calc(100% - 5cm);
  margin-left: 5cm;
  transition: all 0.4s;
}

/* divs (used as buttons) in table cells, containing icons */
.table-btn {
  display: inline-block;
}

.table-btn:hover {
  transform: scale(1.5);
  cursor: pointer;
}

/* 
  For nav bar toggle behavior 
*/

#navbar.active {
  margin-left: -5cm;
}

#content.active {
  width: 100%;
  margin: 0;
}

/* navbar default is open if width >= 768px */
@media (max-width: 768px) {
  #navbar {
    margin-left: -5cm;
  }
  #navbar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 5cm;
    width: calc(100% - 5cm);
  }
}

/* highlight navbar item corresponding to the current page */
#navitem {
  background-color: rgba($color: #FFFFFF, $alpha: 1.0) !important;
}

#navitem.active {
  background-color: rgba(230, 230, 230, $alpha: 1.0) !important;
}